
@media (max-width: 500px) {
  .navItems {
    display: none;
    justify-content: end;
  }
}

.nav-container{

}
.bannerhead{
   font-family: "EB Garamond", serif;
}

.navitems{
   font-family: "Jost", sans-serif;
}
.headfont{
  font-family: "Poller One", sans-serif;
  
}

.nav-container .MYBTN::before{
  content: attr(mytxt);
  position: absolute;
  background-color: rgba(255, 254, 254, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
  border-radius: 100px;
  padding-left: 2px;
  transform: translateZ(-39px) rotate(25deg);
  transition: 200ms ease;
  opacity: 0;
  text-shadow: 0px 1px 1px black;

}

.subheads{
    font-family: "Poller One", sans-serif;
}


.nav-container .MYBTN:hover::before{
  transform: translateY(-25px) rotate(0);
  opacity: 1;
  
}


